@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<div class="box2">
<h2><em>Delete this treat?</em></h2>

<h3><strong>@Html.DisplayNameFor(model => model.Type)</strong>: @Html.DisplayFor(model => model.Type)</h3>
@using (Html.BeginForm())
{
    <br>
    <input type="submit" value="Delete" />
}
<p class="home">@Html.ActionLink("Back to treats", "Index")</p>
</div>